
/*Carousel dans test*/
.carouselle{
    width : 100vw;
    margin-top : 15vh;
}

.carouselle>a{
    height: 20vh;
}
.indicators{
    padding : 10px;
}


/*RechercheGroupe*/

.conteneurDesRecherches{
    border-radius: 15px;
    background-image: radial-gradient(#20B2AA, lightskyblue);
    display : flex;
    width : 75vw;
    height : 80vh;
    margin-left: 20vw;
    margin-top: 5vh;
}


.blocRecherche{
    padding: 0;
    width : 75vw;
    margin-top : 40px;
}


/*mesClubs*/

.ajouterClub{
    background-color : red;
}

.boutonCreation{
    position : absolute;
}