body {
	background: url(../Image/fond.jpg) no-repeat center center fixed; 
	height: 100%;
	background-size: cover;
	font-family: 'Heebo', sans-serif;
}

h1 {
	color:#404c57;
    font-size: clamp(2.4rem, 8vw, 5rem);
    line-height: clamp(2rem, 10vw, 14rem);
    margin-left: 0.4rem;
}

.formco h2 {
	text-align: center;
	color:#404c57;
	font-size:2rem;
	margin-bottom: 4rem;
}

.underline {
	text-decoration: underline #FFA723
}


text {
	color:#404c57;
	font-size:1em;
}
	

.formco {
	padding: clamp(20px, 7vh, 80px) clamp(20px, 15%, 80px);
	border:solid 6px #94C63F;
	border-radius: 25px;
	background-color:white;
	margin-top: 8vh;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.formco .text-justify{
	color:red
}
.btn{
	display:block;
	margin: 3rem auto;
	background-color: #FFA723;
	color: #404C57;
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.5rem 4.2rem;
}

.msg{
	color:red;
}

span {
	text-align: center;
	text-decoration: underline;
	font-size: 0.8rem;
}