.listeP{

}

*{box-sizing: border-box; padding:0; margin:0;

}
.nom{
    height : 10vh;
    display: flex;
    flex-direction: row;
}

#bloc1Interface{
    margin-left: 40px;
    position : absolute;

    display: flex;
    flex-grow: 1;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;}

#bloc2Interface{


    display: flex;
    flex-grow: 1;
    position : relative;
    margin-top : 10vh;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    margin-left: 0px;
    
}

#bloc3Interface{
    margin-left : 59vw;
    display: flex;
    position : absolute;
    margin-top : 10vh;
    flex-grow: 1;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
#bloc4{
    background-color: /*#7CFC00*/ #20B2AA ;
    
    display: flex;
    flex-grow: 1;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.calendrier{
    position : absolute;
    margin-left: 20vw;
   /** margin-top : 2vh;*/


}

.tableDesParticipants{
    width : 20%;
    max-width : 20%;
    margin-right : 60vw;
    margin-left : 20px;
    margin-top : 20vh;
}

